.container {
  display: flex;
    max-width: 10000px;
    margin: 0 auto;
    padding: 20px;
  }
  html{
    background-image: url(https://w0.peakpx.com/wallpaper/777/767/HD-wallpaper-amtrak-train-passenger-train-amtk-453-pacific-surfliner-amtrak-national-railroad-passenger-corporation-usa.jpg);
    background-repeat: no-repeat;
    background-size: 100%,100%;
  }

  .booking-form:hover{
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .booking-form {
    transition: 0.6s;
    position: absolute;
    top: 80px;
    width: 400px;
    display: flex;
    height: 500px;
    flex-direction: column;

    border: none;
    border-radius: 6px;
    padding: 20px;
    background-color: rgba(241, 243, 245, 0.575);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-image: url();
  }
  
  .booking-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    grid-column: 1 / -1;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  